body, html {
    margin: 0;
	padding: 0;
	border: 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

}

.data-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 50vw;
	height: 50vh;

}

.data-item {
	position: relative;
	flex-grow: 1;
	flex-basis: 50%;
}

.top-left {
	animation: scale-top-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.top-right {
	animation: scale-top-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation-delay: 0.4s;
}

.bottom-left {
	animation: scale-bottom-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation-delay: 0.8s;
} 

.bottom-right {
	animation: scale-bottom-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation-delay: 1.2s;
	
}

.title-style {
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 10px;
	color: red;
}


.data-item img {
	width: 100%;
	height: auto;
}

.img-fade {
	animation: fadeOut 1s ease-in-out;

}

@keyframes fadeOut {
    0% {
		opacity:1;
	}
	80% {
		opacity:0.8;
	}
	100% {
		opacity:0;
	}
} 


@keyframes scale-top-left {
	0% {
		transform: scale(0);
		transform-origin: 100% 100%;
	}
	100% {
		transform: scale(1);
		transform-origin: 100% 100%;
	}
}


@keyframes scale-top-right {
	0% {
		transform: scale(0);
		transform-origin: 0% 100%;
	}
	100% {
		transform: scale(1);
		transform-origin: 0% 100%;
	}
}


@keyframes scale-bottom-left {
	0% {
		transform: scale(0);
		transform-origin: 100% 0%;
	}
	100% {
		transform: scale(1);
		transform-origin: 100% 0%;
	}
}
  
@keyframes scale-bottom-right {
	0% {
		transform: scale(0);
		transform-origin: 0% 0%;
	}
	100% {
		transform: scale(1);
		transform-origin: 0% 0%;
	}
}
  